// Colors
@primary-color: #0074D9;
@secondary-color: #0065ca;
@background-color: #6bd2ea;
@dark-bull-color-a:#00305A;
@accent-color: #ffbc00;
@hover-color: #ff0058;
//黑白灰五级标准色
@black-color: #000000;
@dark-color: #333333;
@gray-color: #666666;
@light-color: #999999;
@white-color: #ffffff;
//字体
@font-size: 14px;
@font-size-large: 16px;
@font-size-small: 12px;
@font-size-mini: 10px;
//边框
@border-color: #ebeef5;
@border-color-split: #ebeef5;
@border-color-base: #ebeef5;
@border-color-inverse: #1f2d3d;
@border-radius-base: 4px;
@border-radius-sm: 2px;
//间距
@padding-base: 12px;
@padding-lg: 24px;
@padding-sm: 8px;
@padding-xs: 4px;
@padding-xss: 2px;
@margin-base: 12px;
@margin-lg: 24px;
@margin-sm: 8px;
@margin-xs: 4px;
@margin-xss: 2px;
//宽度
@width-base: 32px;
@width-lg: 40px;
@width-sm: 24px;
@width-xs: 16px;
@width-xss: 8px;
//高度
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;
@height-xs: 16px;
@height-xss: 8px;
//阴影
@shadow-color: rgba(0, 0, 0, 0.15);
@shadow-1-down: 0 2px 8px @shadow-color;
@shadow-1-up: 0 -2px 8px @shadow-color;
@shadow-1-left: -2px 0 8px @shadow-color;
@shadow-1-right: 2px 0 8px @shadow-color;
@shadow-2: 0 4px 12px @shadow-color;
@shadow-3: 0 6px 16px @shadow-color;
@shadow-4: 0 8px 20px @shadow-color;
@shadow-5: 0 12px 24px @shadow-color;
@gradient-color-1: hsl(162.00, 77%, 40%);
@gradient-color-2: hsl(198.95, 68%, 44%);
@gradient-transparent-1: transparent 59%;
@gradient-transparent-2: transparent 55%;
@container-gradient: radial-gradient(at 47% 33%, @gradient-color-1 0, @gradient-transparent-1),
radial-gradient(at 82% 65%, @gradient-color-2 0, @gradient-transparent-2);
@container-gradient-hover: radial-gradient(at 47% 33%, @gradient-color-1 0, @gradient-transparent-1) scaleX(1.3);

// Rest of the LESS code using the color variables
